@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  @apply min-h-screen overflow-hidden bg-earth-50 transition-colors duration-500 dark:bg-cinder-900;
}
html {
  @apply scroll-smooth !important;
}
