@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  @apply min-h-screen justify-between overflow-visible bg-earth-50 transition-colors duration-500 dark:bg-cinder-900;
}
html {
  @apply scroll-smooth;
}
h1,
h2,
h3,
h4 {
  scroll-margin-top: 50px;
}
pre {
  border-radius: 7px;
}
a:link {
  scroll-behavior: auto !important;
}
